body {
	margin: 0;
    padding: 0;
}

.main-auth {
	display: flex;
	width: 100%;
	height: 100vh;
	background-color: #09101a;
}

.container {
	display: none;
}

.wrapper-left {
	width: 25%;
	height: 100vh;
	background-color: #17212b;
}

.wrapper-right {
	display: flex;
	flex-direction: column;
	width: 75%;
	height: 100vh;
	background-color: #0e1621;
}
.wrapper-auth {
	display: flex;
	flex-direction: column;
	background-color: #1b2631;	
	margin: auto;
	padding: 40px 100px;
	max-width: 510px;
}

.form {
	display: flex;
	flex-direction: column;
}

.form__input {
	padding: 10px 0 10px 10px;
    margin: 10px 0 20px 0;
    border: 0;
    border-bottom: 2px solid #465362;
    color: #ffffff;
    background-color: #1b2631;
}

.auth__title {
	text-align: center;
	font-size: 24px;
	line-height: 24px;
	color: #ffffff;
}

.auth__desc {
	font-size: 16px;
	line-height: 16px;
	font-weight: lighter;
	color: #4d5b68;
	padding: 0 100px;
    text-align: center;
}

.form__button {
	padding: 12px;
    margin: 0;
    background-color: #5288c1;
    color: #ffffff;
    border: 0;
    border-radius: 15px;
    width: 130px;
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer;
}

.img-auth {
	fill: #ffffff;
}

.wrapper-img {
	text-align: center;
}

.wrapper-send {
	padding: 0 20px;
	width: 100%;
	box-sizing: border-box;
	top: 90%;
    position: relative;
}

.users__list {
	list-style: none;
	display: flex;
	flex-direction: column;
}

.users__name {
	color: #ffffff;
	font-size: 14px;
	line-height: 24px;
}

.users__item {
	display: flex;
}

.message {
	padding: 20px 0 20px 20px;
	margin: 0;
    width: 65%;
    border: 0;
}

.button--send {
	width: 20%;
    margin: 0 0 0 80px;
    padding: 12px;
    background-color: #5288c1;
    color: #ffffff;
    border: 0;
    border-radius: 15px;
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer;
}

.users__name--active {
	font-size: 20px;
}

.wrapper-message {
	position: absolute;
	margin: 40px 0 0 150px;
	color: #ffffff;
}

.wrapper-message div {
	margin-bottom: 60px;
}

.users__file {
	width: 50px;
    height: 50px;
    border-radius: 20px;
    background-color: #ffff;
    margin-right: 20px;
}